.wrap {
  padding-bottom: 40px;
}

/*** Table styles ***/

.table-dashboard>thead>tr>th.selected {
  background-color: #ADD3EB;
}

.table-dashboard>thead>tr>th {
  padding: 0;
}

.table-dashboard>thead>tr>th>a {
  display: block;
  padding: 8px;
  color: #333;
  text-decoration: none;
}

.table-dashboard>thead>tr>th>a:hover {
  text-decoration: none;
}

@media(max-width: 510px) {
  .table-dashboard>thead>tr>th.col-sm-3 .pull-right {
    float: none !important;
  }
}

.table-dashboard>tbody>tr>td {
  vertical-align: bottom;
}

.sort-container {
  margin-left: 8px;
}

/*** Label styles ***/

.book-list-labels {
  list-style: none;
  margin: 10px;
  padding: 0;
}

.book-list-labels>li {
  margin: 0 3px 3px 0;
}

.book-label {
  display: block;
  padding: 8px;
  font-size: 100%;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-shadow: 0 0 5px rgba(0,0,0,.2), 0 0 2px #000;
}

.book-label-cell {
  margin: 0 3px 3px 0;
  height: 4px;
  width: 42px;
  border-radius: 3px;
  display: inline-block;
}

.book-label-green {
  background-color: #61BD4F;
}

.book-label-yellow {
  background-color: #F2D600;
}

.book-label-orange {
  background-color: #FFAB4A;
}

.book-label-red {
  background-color: #EB5A46;
}

.book-label-purple {
  background-color: #C377E0;
}

.book-label-blue {
  background-color: #0079BF;
}

.book-label-pink {
  background-color: #FF80CE;
}

.book-label-black {
  background-color: #4d4d4d;
}

/*** Spinner styles ***/

.spinner-container {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100px;
  height: 100px;
  background-color: #ffffff;
  z-index: 1;
}

.spinner-inner-container {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.spinner-icon {
  color: #B31B1B;
}

/*** d3 bar chart styles ***/

.bar {
  fill: #ADD3EB;
}

.bar:hover {
  fill: #ccc;
  cursor: pointer;
}

.bar.active {
  fill: #075180;
}

.axis path,
.axis line {
    fill: none;
    display: none;
}

.x.axis text {
  display: none
}
