/*** Sticky footer styles ***/

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 100px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 100px;
  border-top: 1px solid #e7e7e7;
  background-color: #f8f8f8;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.footer a {
  color: #777;
}

.footer a:hover,
.footer a:focus {
  color: #333;
}

.footer p {
  margin: 0;
  padding: 0;
}

.footer .footer-links {
  padding-left: 0;
  margin-bottom: 20px;
}

.footer .footer-links li {
  display: inline-block;
}

.footer .footer-links li+li {
  margin-left: 15px;
}

/*** Site styles ***/

.wrap {
  padding-bottom: 40px;
}

.site-header {
  padding: 20px 0;
  margin-bottom: 20px;
  color: white;
  text-align: center;
  background-image: -webkit-gradient(
    linear,
    right bottom,
    right top,
    color-stop(0, #B31B1B),
    color-stop(1, #D33939)
  );
  background-image: -o-linear-gradient(top, #B31B1B 0%, #D33939 100%);
  background-image: -moz-linear-gradient(top, #B31B1B 0%, #D33939 100%);
  background-image: -webkit-linear-gradient(top, #B31B1B 0%, #D33939 100%);
  background-image: -ms-linear-gradient(top, #B31B1B 0%, #D33939 100%);
  background-image: linear-gradient(to top, #B31B1B 0%, #D33939 100%);
}

.invisible {
  visibility: hidden;
  opacity: 1;
}

/*** Table styles ***/

.table-dashboard>thead>tr>th.selected {
  background-color: #ADD3EB;
}

.table-dashboard>thead>tr>th {
  padding: 0;
}

.table-dashboard>thead>tr>th>a {
  display: block;
  padding: 8px;
  color: #333;
  text-decoration: none;
}

.table-dashboard>thead>tr>th>a:hover {
  text-decoration: none;
}

@media(max-width: 510px) {
  .table-dashboard>thead>tr>th.col-sm-3 .pull-right {
    float: none !important;
  }
}

.sort-container {
  margin-left: 8px;
}

/*** Spinner styles ***/

.spinner-container {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100px;
  height: 100px;
  background-color: #ffffff;
  z-index: 1;
}

.spinner-inner-container {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.spinner-icon {
  color: #B31B1B;
}

/*** d3 bar chart styles ***/

.bar {
  fill: #ADD3EB;
}

.bar:hover {
  fill: #ccc;
  cursor: pointer;
}

.bar.active {
  fill: #075180;
}

.axis path,
.axis line {
    fill: none;
    display: none;
}

.x.axis text {
  display: none
}
