/*** Sticky footer styles ***/
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;

  /* Additional padding to give some breathing room at the bottom */
  padding-bottom: 40px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

/*** Table styles ***/

.table-dashboard>thead>tr>th.selected {
  background-color: #ced4da;
}

.table-dashboard>thead>tr>th {
  padding: 0;
  white-space: nowrap;
}

.table-dashboard>thead>tr>th>a {
  display: block;
  padding: 8px;
  color: #343a40;
  text-decoration: none;
}

.table-dashboard>thead>tr>th>a:hover {
  text-decoration: none;
}

@media(max-width: 510px) {
  .table-dashboard>thead>tr>th.col-sm-3 .pull-right {
    float: none !important;
  }
}

.table-dashboard>tbody>tr>td {
  vertical-align: bottom;
}

.sort-container {
  margin-left: 8px;
}

/*** Label styles ***/

.book-list-labels {
  list-style: none;
  padding: 0;
}

.book-list-labels>li {
  margin: 0 0 4px;
}

.book-label {
  display: block;
  padding: 8px;
  font-size: 9pt;
  font-weight: 600;
  color: #fff;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  border-radius: 3px;
}

.book-label-cell {
  margin: 0 3px 3px 0;
  height: 4px;
  width: 42px;
  border-radius: 3px;
  display: inline-block;
}

.book-label-green {
  background-color: #61BD4F;
}

.book-label-yellow {
  background-color: #F2D600;
}

.book-label-orange {
  background-color: #FFAB4A;
}

.book-label-red {
  background-color: #EB5A46;
}

.book-label-purple {
  background-color: #C377E0;
}

.book-label-blue {
  background-color: #0079BF;
}

.book-label-pink {
  background-color: #FF80CE;
}

.book-label-black {
  background-color: #4d4d4d;
}

/*** Spinner styles ***/

.spinner-container {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100px;
  height: 100px;
  background-color: #ffffff;
  z-index: 1;
}

.spinner-inner-container {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.spinner-icon {
  color: #B31B1B;
}

/*** d3 bar chart styles ***/

.bar {
  fill: #ced4da;
}

.bar:hover {
  fill: #adb5bd;
  cursor: pointer;
}

.bar.active {
  fill: #20c997;
}

.axis path,
.axis line {
    fill: none;
    display: none;
}

.x.axis text {
  display: none
}
