<!DOCTYPE html>
<html lang="en" ng-app="reading-quantified">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Reading Quantified | Esther Jun Kim</title>

    <link rel="shortcut icon" sizes="16x16 32x32 64x64 128x128" href="/assets/favicon.ico">
    <link rel="apple-touch-icon-precomposed" type="image/png" href="/assets/favicon-152.png">

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/styles.css">

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-54477708-1', 'auto');
      ga('send', 'pageview');
    </script>
  </head>
  <body ng-controller="DashboardCtrl">
    <!-- Spinner -->
    <div class="spinner-outer-container" ng-hide="isLoaded">
      <div class="spinner-inner-container">
        <i class="fa fa-spinner fa-pulse fa-5x fa-fw spinner-icon"></i>
      </div>
    </div>

    <!-- Site content -->
    <div ng-class="{'invisible': !isLoaded}">
      <div id="wrap">
        <div id="wrap-content">
          <div class="site-header">
            <div class="container">
              <h1>Reading Quantified</h1>
              <p class="lead">A dashboard for analyzing my reading habits</p>
            </div>
          </div>

          <div class="container">
            <p><small>Last updated: <span ng-bind="ranAt.iso | date : 'MMM d, yyyy' : 'UTC'"></span></small></p>

            <div class="row">
              <div class="col-sm-12">
                <div class="panel panel-default panel-kpi">
                  <div class="panel-heading">
                    <h2 class="panel-title">Books finished by year</h3>
                  </div>
                  <div class="panel-body">
                    <d3-bar data="numberOfBooksFinishedPerYear" active-label="year"></d3-bar>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <div class="panel panel-default panel-books">
                  <!-- From Bootstrap docs: Easily clear floats by adding .clearfix to the parent element -->
                  <div class="panel-heading clearfix">
                    <h2 class="panel-title pull-left">
                      Books finished:
                      <span ng-bind="numberOfBooks"></span>
                    </h2>

                    <h2 class="panel-title pull-right">
                      Avg. days to finish:
                      <span ng-bind="averageDaysToFinish | number : 1"></span>
                    </h2>
                  </div>

                  <div class="table-responsive">
                    <table class="table table-striped table-hover table-dashboard">
                      <thead>
                        <tr>
                          <th ng-repeat="heading in headings" class="{{ heading.colWidth }}" ng-class="{'selected': predicate === heading.predicate}">
                            <a href="" ng-click="order(heading.predicate)">
                              <span ng-bind="heading.label"></span>
                              <span class="sort-container pull-right">
                                <i class="fa fa-sort" ng-hide="showSortAsc(heading.predicate) || showSortDesc(heading.predicate)"></i>
                                <i class="fa fa-sort-asc" ng-show="showSortAsc(heading.predicate)"></i>
                                <i class="fa fa-sort-desc" ng-show="showSortDesc(heading.predicate)"></i>
                              </span>
                            </a>
                          </th>
                        </tr>
                      </thead>

                      <tbody>
                        <tr ng-repeat="book in bookData.results | filterBooksByYear : year | orderBy : predicate : reverse">
                          <td ng-bind="book.title"></td>
                          <td ng-bind="book.dateStarted.iso | date : 'MMM dd, yyyy' : 'UTC'"></td>
                          <td ng-bind="book.dateFinished.iso | date : 'MMM dd, yyyy' : 'UTC'"></td>
                          <td ng-bind="book.daysToFinish"></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div id="push"></div>
      </div>

      <div id="footer">
        <div class="container">
          <ul class="footer-links">
            <li><a href="http://www.drejkim.com">drejkim.com</a></li>
            <li><a href="http://drejkim.com/blog/2015/11/24/introducing-reading-quantified">Blog post</a></li>
            <li><a href="https://github.com/drejkim/reading-quantified">GitHub</a></li>
            <li><a href="https://trello.com/b/mgqBN7ZV">Trello</a></li>
          </ul>
          <p>
            &#x000A9; 2017 Esther Jun Kim.
          </p>
        </div>
      </div>
    </div>

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="//d3js.org/d3.v3.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-resource.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-touch.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/config.js"></script>
    <script type="text/javascript" src="js/services.js"></script>
    <script type="text/javascript" src="js/directives.js"></script>
    <script type="text/javascript" src="js/filters.js"></script>
    <script type="text/javascript" src="js/controllers.js"></script>
  </body>
</html>
